<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= render partial: "shared/table", locals: { 
    data: @users,
    col_headers: ["Name", "# of Votes","date joined"], 
    fields: [ "name", "votes", "created_at"] }%>

<br>
