<% IceCream::CATEGORIES.each do |category| %>
<section class="top-ten__list-container">
  <h2 class="top-ten__header">Top <%= category.capitalize %>s</h2>

  <ul class="list-group top-ten__list">
  <% @ice_creams.ranked_within_category(category).limit(5).each do |ice_cream| %>
    <li class="list-group-item">
        <h4>
          <%= link_to "#{ice_cream.name}", ice_cream_path(ice_cream.id)%>
          <small class="top-ten__brand">by <%= ice_cream.brand %></small>
        </h4>
        <p><%= ice_cream.votes.count%> votes</p>
      </li>
  <% end %>




  </ul>





</section>

<% end %>