<main>
  <section class="spotlight">
  <h2 class="spotlight__header">
  <span class="spotlight__header--prefix">Ice Cream Spotlight</span>
  <!--ERB link to top ice cream--> 
  </h2>
  <p class="spotlight__description"><!--ERB link to top ice cream--> </p>

  </section>

  <hr class="root__hr"/>

  <section class="top-ten__container">
    <%= render partial: "tops" %>
  </section>


</main>