.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em
}

.top-ten__header {
  color: #E45C54;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB
}

.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0
}

.top-ten__brand {
  color: #968388;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: none;
}