<nav class="app-header__nav">
  <ul class="nav app-header__site-nav-container">
    <li class="nav-item app-header__nav_item">
      <a class="nav-link" href="/">View top ice cream</a>
    </li>
    <li class="nav-item app-header__nav_item">
      <a class="nav-link" href="/ice_creams">View all ice cream</a>
    </li>
    <li class="nav-item app-header__nav_item">
      <a class="nav-link" href="/ice_creams/new">Add new ice cream</a>
    </li>
    <li class="nav-item app-header__nav_item">
      <a class="nav-link" href="/users">View all users</a>
    </li>
  </ul>

  <section class="nav app-header__user-nav-container">
  <% if logged_in %>

      <%= profile_button(logged_in) %>
 
  <% end %>
   
      <%= auth_button(logged_in) %>
  
  </section>
</nav>